


.menu{
    color:grey;
    /* background-color: black; */
    font-size: 5px;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    /* align-items: center; */
}